<footer>
	<div class="container">
		<div class="footer">
			<p class="subtitle hide">Don't see your city? <a target="_blank" href="https://docs.google.com/a/girldevelopit.com/forms/d/1IwGncJ6_69MWa2_rrikO5Q3DLriA04Eq9x0BUnxkwTw/viewform?edit_requested=true#start=invite">Help bring Girl Develop It to your home town.</a></p>
			<p class="subtitle">To become a sponsor or for partnership opportunities, email  us at <%= mail_to "sponsorships@girldevelopit.com" %> </p>
			<!-- Begin MailChimp Signup Form -->
			
			
			<div id="mc_embed_signup">
			<form action="//girldevelopit.us2.list-manage.com/subscribe/post?u=4d5ae11ec6fb973947670055f&amp;id=e63c9ab02b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				<!-- <label for="mce-EMAIL">Subscribe to our mailing list</label><br> -->
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" size="40" placeholder="email address" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_4d5ae11ec6fb973947670055f_e63c9ab02b" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe to Mailing List" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>

			<!--End mc_embed_signup-->
			<nav class="navigation">
				<%= link_to "about", about_path %>
				<%= link_to "code of conduct", code_of_conduct_path %>
				<%= link_to "sponsors", sponsors_path %>
				<%#= link_to "partners", root_path, class: "hide" %>
				<a target="_blank" href="http://girldevelopit.tumblr.com/">blog</a>
				<% if current_admin_user != nil %>
					<%= link_to "admin", admin_root_path %>
					<%= link_to "logout", destroy_admin_user_session_path %>
				<% end %>
			</nav>
			<nav class="navigation">
				<a target="_blank" href="https://twitter.com/girldevelopit"><i class="fa fa-twitter"></i></a>
			  <a target="_blank" href="https://www.facebook.com/girldevelopit"><i class="fa fa-facebook"></i></a>
			</nav>
		</div>
	</div>
</footer>
