<footer>
	<div class="container">
		<div class="footer">
			<p class="subtitle hide">Don't see your city? Help bring Girl Develop It to your home town.</p>
			<p class="subtitle">To become a sponsor or for partnership opportunities, email  us at <%= mail_to "sponsorships@girldevelopit.com" %> </p>
			<nav class="navigation">
				<%= link_to "about", about_path %>
				<%= link_to "code of conduct", code_of_conduct_path %>
				<%= link_to "sponsors", sponsors_path %>
				<%#= link_to "partners", root_path, class: "hide" %>
				<a target="_blank" href="http://girldevelopit.tumblr.com/">blog</a>
				<% if current_admin_user != nil %>
					<%= link_to "Admin", admin_root_path %>
					<%= link_to "Logout", destroy_admin_user_session_path %>
				<% end %>
			</nav>
			<nav class="navigation">
				<a target="_blank" href="https://twitter.com/girldevelopit"><i class="fa fa-twitter"></i></a>
			  <a target="_blank" href="https://www.facebook.com/girldevelopit"><i class="fa fa-facebook"></i></a>
			</nav>
		</div>
	</div>
</footer>
