<% provide(:title, "About") %>
<section class="main-container">

  <div class="container">

    <section class="mission">
      <div class="underlined-headline">
        <h2>Our Mission</h2>
        <hr>
      </div>
      <p class="large">Girl Develop It is a nonprofit organization that provides affordable programs for adult women interested in learning web and software development in a judgment-free environment. </p>
    </section>

    <div class="vision">
    <h3 class="subtitle">[ Our Vision ]</h3>
    <p>Our vision is to create a network of empowered women who feel confident in their abilities to code and build beautiful web and mobile applications. By teaching women around the world from diverse backgrounds to learn software development, we can help women improve their careers and confidence in their everyday lives.</p>
    </div>

    <div class="values">
    <h3 class="subtitle">[ Our Values ]</h3>
    <p>We are committed to making sure women of all races, education levels, income and upbringing can build confidence in their skill set to develop web and mobile applications. Our goal is to provide powerful hands-on programs to women seeking professional help in software development and create basic to advanced web and mobile applications.</p>
    </div>

  </div>

  <section class="story">
    <div class="container">
      <div class="underlined-headline">
        <h2>Our Story</h2>
        <hr>
      </div>
      <p class="large">“Girl, Develop It!” began as a call to action for women, by women who were tired of the low representation of women in tech, and wanted to make a difference.</p>

      <div class="ig-body">
        <div class="ig-row">
          <div class="ig-item">
            <div class="number">2010</div>
            <%= image_tag 'infographic/ig-beginning-1-founded.svg', alt: 'GDI was founded 2010 in NYC' %>
            <p>GDI was founded 2010 in NYC</p>
          </div>

          <div class="ig-item">
            <div class="number">1</div>
            <%= image_tag 'infographic/ig-beginning-2-class.svg', alt: 'It started with just 1 class' %>
            <p>It started with just 1 class</p>
          </div>

          <div class="ig-item">
            <div class="number">24h</div>
            <%= image_tag 'infographic/ig-beginning-3-soldout.svg', alt: '...which sold out in 24 hours' %>
            <p>...which sold out in 24 hours</p>
          </div>
        </div>
      </div>

      <p class="large">The organization was founded in New York City in 2010 by <%= link_to("Vanessa Hurst", "http://vanessahurst.com/") %> and <%= link_to("Sara Chipps", "http://sarajchipps.com/") %>. Today, Girl Develop It chapters are building strong, empowered communities in <%= @chapter_count %> cities, representing 55,000+ members nationwide who are changing their lives through learning to code with us.</p>
    </div>
  </section>


  <div class="container">

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Our Team</h2>
      </div>

      <div class="chapter-leader-img">
        <%= image_tag 'GDI_Leader_Summit_2016.png', alt: 'Girl Develop It Chapter Leaders at 2016 Annual Leadership Summit'%>
        <p>Girl Develop It Chapter Leaders at the 2016 Annual Leadership Summit</p>
      </div>

      <section>
         <div class="profile profile-left">
          <%= image_tag 'board/leeannkinney.jpg', alt: 'LeeAnn Kinney' %>
          <h3 class="nocaps">LeeAnn Kinney, Director of Programs</h3>
          <p>LeeAnn took her first class with GDI in January of 2013 and started TAing and teaching classes soon after. After joining the GDI Philly Leadership team as the events team organizer spearheading the Code and Coffees, Rise and Shines and social happy hour events, she was officially leveled up to Chapter Leader in September 2015 and had served in that role until September 2017.</p>
          <p>Outside of Girl Develop It, LeeAnn cofounded <%= link_to("Ela Conf", "http://elaconf.com/", target: "_blank") %> in 2014, a conference with a mission to create a safe, supportive, inspiring and comfortable community for adult women to gain the confidence to become leaders, speakers, and teachers in the technology industry.</p>
          <p>LeeAnn is super excited to join the HQ team to help build out GDI’s growing programs including our most recent program teaching incarcerated women to code. She is endlessly thankful to have the opportunity to work with and support the GDI community that has supported her through her journey</p>
        </div>

        <div class="profile profile-right">
          <%= image_tag 'board/bindu.jpg', alt: 'Bindu Jallabah' %>
          <h3 class="nocaps">Bindu Jallabah, Director of Operations</h3>
          <p>Bindu is fervently passionate about developing ecosystems that empower disadvantaged communities in making informed, self-determined decisions. She has dedicated most of her career to advocating and developing pragmatic solutions that promote social equity.</p>
          <p>Bindu is a seasoned administrator with nearly two decades of progressive experience in nonprofit leadership and operations management. Prior to joining GDI, Bindu won awards for her work developing and executing the operational strategy for the Elwyn Baring Street Center.</p>
          <p>Bindu is also founder and Board Chair of Karanso Africa, a civil society organization that has innovated literacy to promote self-efficacy and self-determination for women across Sub-Saharan Africa. Leveraging a strong background in Information Technology, Bindu is also the architect of Karanso’s Docteur Mobile initiative which is a tool for self-care and advocacy to improve access to maternal and reproductive health services for vulnerable women in remote villages in West Africa.</p>
        </div> 
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Our Board</h2>
      </div>

      <section>
        <div class="profile profile-left">
          <h3 class="nocaps">Brenda Jin</h3>
          <p>Brenda Jin is an entrepreneur and software engineer. She’s the founder of Guanyin Labs, a company that’s helping employees reach their full potential. Before that, she taught herself to code in 2013 (with the help of GDI!) and became a Senior UI Developer at <%= link_to("Macys.com","https://www.macys.com/", target:"_blank") %>, then a Staff Engineer at Slack.</p>
        </div>
        
        <div class="profile profile-right">
          <h3 class="nocaps">Janelle Jolley</h3>
          <p>Janelle Jolley has a background in journalism and public policy, but eventually found her way to tech after moving to Atlanta and not knowing where to shop. It was there that she founded a marketplace startup, Sidewalk District, as a result of her passion for local independent retailers and their ability to spur economic development in communities across America.</p>
          <p>After her tour of duty as a founder, Janelle moved to California and began working at Google. Her background as a founder made her the perfect fit for being a Product Operations Manager leading international and vertical expansion with Google Local Services, a new startup within Google focused on local SMBs.</p>
        </div>
        
        <div class="profile profile-left">
          <h3 class="nocaps">Erynn Petersen</h3>
          <p>Erynn Petersen, who is a returning board member, was formerly the Executive Director of the Outercurve Foundation. Petersen is a longtime product and engineering executive, having spent time in her career leading teams at Time, Inc., Microsoft, and Amazon. Petersen said: “There’s an urgent need for the creators of technology to reflect the people who are consuming that technology. I am deeply committed to increasing the ranks of women and non-binary adults in technical careers.”</p>
        </div>
        
        <div class="profile profile-right">
          <h3 class="nocaps">Kaya Thomas</h3>
          <p>Kaya Thomas is the founder of We Read Too and a full-time iOS developer. Formerly she co-founded the Zonta Science Camp with the Zonta International Club of New Rochelle where she designed curriculum, facilitated lessons & projects, organized volunteers and mentored camp attendees for over four years. Thomas has been an active volunteer at Black Girls Code for over five years and last year became an active volunteer career mentor with Hack the Hood.</p>
        </div>

        <div class="profile profile-left">
          <h3 class="nocaps">Arelia Jones</h3>
          <p>Arelia is an associate program manager on GitHub’s Education team where she focuses on college student programs. She is also co-founder and director of education and technology at CoderSpace, chapter leader of Girl Develop It Chicago, and co-organizer of Prompt Conf. She has a lifelong passion for the web and enjoys learning and helping others learn more about technology.</p>
        </div>
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Frequently Asked Questions</h2>
      </div>
      <section class="faqs">
        <p class="large">Want to learn more about our classes? Interested in contacting your local chapter?
        <br>
        To learn more about GDI and to get answers to your questions, check out our <%= link_to "FAQ", faq_path %>!</p>
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Contact Us</h2>
      </div>
      <section class="contact">
        <p class="large">Partnership opportunities: <%= mail_to "partnerships@girldevelopit.com" %></p>
        <p class="large">Sponsorship opportunities: <%= mail_to "sponsorships@girldevelopit.com" %></p>
        <p class="large">Press inquiries: <%= mail_to "press@girldevelopit.com" %></p>
        <p class="large"><%= link_to("Request a chapter in your city", "http://goo.gl/forms/qK3uHWZT0T", target: "_blank") %></p>
      </section>


    </div>

  </div>
</section>
