<% provide(:title, "About") %>
<section class="main-container">

  <div class="container">

    <section class="mission">
      <div class="underlined-headline">
        <h2>Our Mission</h2>
        <hr>
      </div>
      <p class="large">Girl Develop It is a nonprofit organization that provides affordable programs for adult women interested in learning web and software development in a judgment-free environment. </p>
    </section>

    <div class="vision">
    <h3 class="subtitle">[ Our Vision ]</h3>
    <p>Our vision is to create a network of empowered women who feel confident in their abilities to code and build beautiful web and mobile applications. By teaching women around the world from diverse backgrounds to learn software development, we can help women improve their careers and confidence in their everyday lives.</p>
    </div>

    <div class="values">
    <h3 class="subtitle">[ Our Values ]</h3>
    <p>We are committed to making sure women of all races, education levels, income and upbringing can build confidence in their skill set to develop web and mobile applications. Our goal is to provide powerful hands-on programs to women seeking professional help in software development and create basic to advanced web and mobile applications.</p>
    </div>

  </div>

  <section class="story">
    <div class="container">
      <div class="underlined-headline">
        <h2>Our Story</h2>
        <hr>
      </div>
      <p class="large">“Girl, Develop It!” began as a call to action for women, by women who were tired of the low representation of women in tech, and wanted to make a difference.</p>

      <div class="ig-body">
        <div class="ig-row">
          <div class="ig-item">
            <div class="number">2010</div>
            <%= image_tag 'infographic/ig-beginning-1-founded.svg', alt: 'GDI was founded 2010 in NYC' %>
            <p>GDI was founded 2010 in NYC</p>
          </div>

          <div class="ig-item">
            <div class="number">1</div>
            <%= image_tag 'infographic/ig-beginning-2-class.svg', alt: 'It started with just 1 class' %>
            <p>It started with just 1 class</p>
          </div>

          <div class="ig-item">
            <div class="number">24h</div>
            <%= image_tag 'infographic/ig-beginning-3-soldout.svg', alt: '...which sold out in 24 hours' %>
            <p>...which sold out in 24 hours</p>
          </div>
        </div>
      </div>

      <p class="large">The organization was founded in New York City in 2010 by <%= link_to("Vanessa Hurst", "http://vanessahurst.com/") %> and <%= link_to("Sara Chipps", "http://sarajchipps.com/") %>. Today, Girl Develop It chapters are building strong, empowered communities in <%= @chapter_count %> cities, representing 55,000+ members nationwide who are changing their lives through learning to code with us.</p>
    </div>
  </section>


  <div class="container">

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Our Team</h2>
      </div>

      <div class="chapter-leader-img">
        <%= image_tag 'GDI_Leader_Summit_2016.png', alt: 'Girl Develop It Chapter Leaders at 2016 Annual Leadership Summit'%>
        <p>Girl Develop It Chapter Leaders at the 2016 Annual Leadership Summit</p>
      </div>

      <section>
        <div class="profile profile-left">
          <%= image_tag 'board/corinnewarnshuis.jpg', alt: 'Corinne Warnshuis' %>
          <h3 class="nocaps">Corinne Warnshuis, Executive Director</h3>
          <p>Corinne is a passionate advocate for community-centered movements and their power to change the world. Prior to becoming the first Executive Director of Girl Develop It, she co-led the organization’s Philadelphia chapter to become one of the organization's largest and most active.</p>
          <p>She has previously held positions with the <%= link_to("Technical.ly", "http://technical.ly/", target: "_blank") %> news network, producing large-scale technology conferences like <%= link_to("Philly Tech Week", "http://phillytechweek.com/", target: "_blank") %> and Baltimore Innovation Week, and at <%= link_to("WHYY", "http://whyy.org/", target: "_blank") %>, Philadelphia’s NPR and PBS affiliate, in community relations.</p>
          <p>Corinne has spoken at the White House, Dreamforce, Lesbians Who Tech Summit, Code Conf, OSCON and more.</p>
          <p>A native Californian, Corinne moved to Philadelphia after graduating from University of California — Santa Cruz with a degree in Sociology and Film &amp; Digital Media. </p>
        </div>

        <div class="profile profile-right">
          <%= image_tag 'board/bindu.jpg', alt: 'Bindu Jallabah' %>
          <h3 class="nocaps">Bindu Jallabah, Operations Director</h3>
          <p>Bindu is fervently passionate about developing ecosystems that empower disadvantaged communities in making informed, self-determined decisions. She has dedicated most of her career to advocating and developing pragmatic solutions that promote social equity.</p>
          <p>Bindu is a seasoned administrator with nearly two decades of progressive experience in nonprofit leadership and operations management. Prior to joining GDI, Bindu won awards for her work developing and executing the operational strategy for the Elwyn Baring Street Center.</p>
          <p>Bindu is also founder and Board Chair of Karanso Africa, a civil society organization that has innovated literacy to promote self-efficacy and self-determination for women across Sub-Saharan Africa. Leveraging a strong background in Information Technology, Bindu is also the architect of Karanso’s Docteur Mobile initiative which is a tool for self-care and advocacy to improve access to maternal and reproductive health services for vulnerable women in remote villages in West Africa.</p>
        </div>
        
        <div class="profile profile-left">
          <%= image_tag 'board/leeannkinney.jpg', alt: 'LeeAnn Kinney' %>
          <h3 class="nocaps">LeeAnn Kinney, Outreach &amp; Special Initiatives Director</h3>
          <p>LeeAnn took her first class with GDI in January of 2013 and started TAing and teaching classes soon after. After joining the GDI Philly Leadership team as the events team organizer spearheading the Code and Coffees, Rise and Shines and social happy hour events, she was officially leveled up to Chapter Leader in September 2015 and has served in that role until this September.</p>
          <p>Outside of Girl Develop It, LeeAnn cofounded <%= link_to("Ela Conf", "http://elaconf.com/", target: "_blank") %> in 2014, a conference with a mission to create a safe, supportive, inspiring and comfortable community for adult women to gain the confidence to become leaders, speakers, and teachers in the technology industry. For the past few years, LeeAnn has also been the lead organizer for LadyHacks, Philadelphia’s first women-only hackathon geared towards introducing beginners to hackathons, open source and civic hacking in a comfortable, non-competitive environment.</p>
          <p>LeeAnn is super excited to join the HQ team to help build out GDI’s growing partnership and special initiative programs. She is endlessly thankful to have the opportunity to work with and support the GDI community that has supported her through her journey</p>
        </div>

        <div class="profile profile-right">
          <%= image_tag 'board/rachelmesseck.jpg', alt: 'Rachel Messeck' %>
          <h3 class="nocaps">Rachel Messeck, Chapter Program Manager</h3>
          <p>Rachel is thrilled to join as the Chapter Program Manager for Girl Develop It, and to be on a team that sits at the perfect intersection of her experience in nonprofit, tech, and client services. She has previously written grants and proposals, managed donor and client relations, and most recently, Rachel led partnerships and new business at a web design studio in Philadelphia.</p>
          <p>As she joins the GDI team, she is excited to use her expertise to create the ideal conditions and support system for a thriving chapter program, and looks forward to getting to know and serve the GDI Chapter Leaders, while growing and expanding the program across the US.</p>
          <p>After hours, you can find her gardening, dreaming about her future lake house, and digging through thrift store racks.</p>
        </div>
        
        <div class="profile profile-left">
          <%= image_tag 'board/shanisebarona.jpg', alt: 'Shanise Barona' %>
          <h3 class="nocaps">Shanise Barona, Administrative Coordinator</h3>
          <p>Shanise is a curious tinkerer with a passion for building inclusive communities. She excitedly joins GDI HQ with a background in psychology and experience in project management and client services.</p>
          <p>She landed on Girl Develop It in early 2016 when she was learning how to code and has since been a student, volunteer and teaching assistant with GDI Philly. Shanise also joined the organizing team for Ela Conf in March of 2017.</p>
          <p>In her spare time, she enjoys yoga, working on a side project or tending to her houseplant collection.</p>
        </div>
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Our Board</h2>
      </div>

      <section>
        <div class="profile profile-right">
          <%= image_tag 'board/vanessahurst.jpg', alt: 'Vanessa Hurst' %>
          <h3 class="nocaps">Vanessa Hurst, Co-founder, Board Chair</h3>
          <p><%= link_to("Vanessa", "http://vanessahurst.com/", target: "_blank") %> Vanessa Hurst is the Director of Engineering Practice at <%= link_to("Etsy", "https://www.etsy.com", target: "_blank") %>. Vanessa is also the founder of <%= link_to("CodeMontage", "https://www.codemontage.com/", target: "_blank") %> where coders engage in open source projects to improve their skills and the world, as well as <%= link_to("Developers for Good", "http://developersforgood.org/", target: "_blank") %> and she co-founded <%= link_to("WriteSpeakCode", "http://www.writespeakcode.com/", target: "_blank") %>.</p>
          <p>Vanessa advocates for every student to have the opportunity to learn to code through <%= link_to("Code.org","https://code.org/", target:"_blank") %>. Her book on Continuous Learning in software teams will be published this year.</p>
          <p>Her work in technology education and social change has appeared on the TODAY show, NPR, Al Jazeera America, Entrepreneur, The New York Times, Fast Company, and other media.</p>
          <p>Vanessa holds a B.S. in Computer Science from the University of Virginia.</p>
        </div>

        <div class="profile profile-right">
          <%= image_tag 'board/ericajoybaker.jpg', alt: 'Erica Joy Baker' %>
          <h3 class="nocaps">Erica Joy Baker, Senior Engineer, Slack Technologies</h3>
          <p>Erica Joy Baker is a Senior Engineer at <%= link_to("Slack", "https://slack.com/", target:"_blank") %> and advocate for diversity and inclusion in tech, and expanding access to tech education.</p>
          <p>Erica’s career in tech began fifteen years ago doing domain administration for the University of Alaska Statewide System, before becoming a Googler in 2006. Erica’s role grew and shifted within Google, growing from Support Technician to Site Reliability Engineer.</p>
          <p>She joined Slack in 2015, where she focuses on Build and Release Engineering.</p>
          <p>Erica is a member of the Advisory Boards for Barbie, Atipica, and Hack the Hood. Erica is a founding member of Project Include, was the 2015 Level Playing Field Institute Lux Award winner, a nominee for the 2016 Crunchies Include Diversity Award, and was included in WIRED Magazine’s 2016 Next List.</p>
          <p>Erica is currently based in Oakland, California.</p>
        </div>

        <div class="profile profile-left">
          <%= image_tag 'board/brendajin.jpg', alt: 'Brenda Jin' %>
          <h3 class="nocaps">Brenda Jin, Staff Engineer, Slack Technologies</h3>
          <p>Brenda Jin is a Staff Engineer at <%= link_to("Slack", "https://slack.com/", target:"_blank") %>, where she writes software that makes work better and more productive for millions of people every day. She launched the Slack App Directory in 2015, and later built and designed the first ever RESTful DLP/eDiscovery APIs, enabling HIPAA and FINRA for Slack's Enterprise Grid.</p>
          <p>Before Slack, she launched the first responsive shopping experience at <%= link_to("Macys.com","https://www.macys.com/", target:"_blank") %> – a website that on average does $73 million in transactions per day.</p>
          <p>In 2013, Brenda learned to code with the help of GDI San Francisco. Since then, she has become a teacher and Chapter Leader. For the past two years, GDISF has taught over 40 workshops per year and reached over 7500 adults in San Francisco.</p>
        </div>

        <div class="profile profile-right">
          <%= image_tag 'board/alanna.jpg', alt: 'Alanna Gombert' %>
          <h3 class="nocaps">Alanna Gombert, VP of IAB Tech Lab</h3>
          <p>Alanna Gombert is SVP, Technology &amp; Ad Operations, <%= link_to("IAB","https://www.iab.com/", target:"_blank") %>, and General Manager, IAB Tech Lab. Before joining IAB, Gombert was CEO of Gombert Consulting, a full service digital media consulting agency and she is Founder and Co-chair for the IAB Programmatic Council.</p>
          <p>Prior she was Head of Digital Sales and Strategy at <%=link_to("Condé Nast","http://www.condenast.com/", target:"_blank") %> and founder of CatalystDesk, Cond&#233; Nast’s digital media trading platform. Gombert joined Cond&#233; Nast in March 2013 from Google by way of Admeld, where she ran the trading desk, agency, and demand-side platform relationships and helped grow RTB from an idea to a killer business.</p>
          <p>Prior to Admeld, Gombert worked at Right Media, the first online advertising exchange, where she focused on ad selection algorithms and market dynamics.</p>
        </div>
        
        <div class="profile profile-left">
          <h3 class="nocaps">Janelle Jolley, Product Operations Manager, Google</h3>
          <p>Janelle Jolley has a background in journalism and public policy, but eventually found her way to tech after moving to Atlanta and not knowing where to shop. It was there that she founded a marketplace startup, Sidewalk District, as a result of her passion for local independent retailers and their ability to spur economic development in communities across America.</p>
          <p>After her tour of duty as a founder, Janelle moved to California and began working at Google. Her background as a founder made her the perfect fit for being a Product Operations Manager leading international and vertical expansion with Google Local Services, a new startup within Google focused on local SMBs.</p>
        </div>
        
        <div class="profile profile-right">
          <h3 class="nocaps">Quinn Heraty, Attorney at Heraty Law PLLC</h3>
          <p>Quinn Heraty is an attorney who helps people in the media, tech, and design industries start and run their businesses.</p>
          <p>Her firm, Heraty Law PLLC, can be reached at <%=link_to("Heraty Law", "http://heratylaw.com", target:"_blank") %> and <%=link_to("@heratylaw", "https://twitter.com/heratylaw", target:"_blank") %>.</p>
        </div>
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Frequently Asked Questions</h2>
      </div>
      <section class="faqs">
        <p class="large">Want to learn more about our classes? Interested in contacting your local chapter?
        <br>
        To learn more about GDI and to get answers to your questions, check out our <%= link_to "FAQ", faq_path %>!</p>
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Contact Us</h2>
      </div>
      <section class="contact">
        <p class="large">Partnership opportunities: <%= mail_to "partnerships@girldevelopit.com" %></p>
        <p class="large">Sponsorship opportunities: <%= mail_to "sponsorships@girldevelopit.com" %></p>
        <p class="large">Press inquiries: <%= mail_to "press@girldevelopit.com" %></p>
        <p class="large"><%= link_to("Request a chapter in your city", "http://goo.gl/forms/qK3uHWZT0T", target: "_blank") %></p>
      </section>


    </div>

  </div>
</section>
