<% provide(:title, "About") %>
<section class="main-container">

  <div class="container">

    <section class="mission">
      <div class="underlined-headline">
        <h2>Our Mission</h2>
        <hr>
      </div>
      <p class="large">Girl Develop It is a nonprofit organization that provides affordable programs for adult women interested in learning web and software development in a judgment-free environment. </p>
    </section>

    <div class="vision">
    <h3 class="subtitle">[ Our Vision ]</h3>
    <p>Our vision is to create a network of empowered women who feel confident in their abilities to code and build beautiful web and mobile applications. By teaching women around the world from diverse backgrounds to learn software development, we can help women improve their careers and confidence in their everyday lives.</p>
    </div>

    <div class="values">
    <h3 class="subtitle">[ Our Values ]</h3>
    <p>We are committed to making sure women of all races, education levels, income and upbringing can build confidence in their skill set to develop web and mobile applications. Our goal is to provide powerful hands-on programs to women seeking professional help in software development and create basic to advanced web and mobile applications.</p>
    </div>

  </div>

  <section class="story">
    <div class="container">
      <div class="underlined-headline">
        <h2>Our Story</h2>
        <hr>
      </div>
      <p class="large">“Girl, Develop It!” began as a call to action for women, by women who were tired of the low representation of women in tech, and wanted to make a difference. Girl Develop It was founded in New York City in 2010 by Vanessa Hurst and Sara Chipps. Find out our more about their current projects below. Today, there are Girl Develop It chapters building strong communities in 45 US cities (and growing), representing 29,000 members nationwide who are changing their lives through learning to code with us. </p>
    </div>
  </section>


  <div class="container">


      <div id="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Our Team</h2>
      </div>

      <div class="profile-left">
          <%= image_tag 'board/corinnewarnshuis.jpg' %>
          <h3>Corinne Warnshuis, EXECUTIVE DIRECTOR</h3>
          <p>Corinne is a passionate advocate for community-centered movements and their power to change the world. She is the Executive Director of Girl Develop It. For two years prior to becoming the first ED of Girl Develop It, she co-lead the organization’s Philadelphia chapter to become one of the largest and most active.</p>
          <p>Previously she worked with the <a href="http://technical.ly/" target="_blank">Technical.ly</a> news network producing large-scale technology conferences like <a href="http://phillytechweek.com/" target="_blank">Philly Tech Week</a> and Baltimore Innovation Week. In that role, Corinne promoted diversity initiatives and helped build relationships among the respective local tech communities of Philadelphia, Baltimore and Brooklyn.</p>
          <p>A native Californian, Corinne moved to Philadelphia after studying Sociology and Film &amp; Digital Media at University of California – Santa Cruz, and worked in the newsroom and in community relations at <a href="http://whyy.org/" target="_blank">WHYY</a>, Philadelphia’s NPR and PBS affiliate for two years thereafter. Corinne has also written freelance for various publications and is active on the Board of Directors for the <a href="http://www.prometheusradio.org/" target="_blank">Prometheus Radio Project</a>.</p>
      </div>


      <div class="profile-right">
          <%= image_tag 'board/vanessahurst.jpg' %>
          <h3>Vanessa Hurst, Co-founder, Advisor</h3>
          <p><a href="http://vanessahurst.com/" target="_blank">Vanessa</a> believes every person should be empowered to use technology to make the world a better place. She started Girl Develop It to provide judgment-free learning opportunities with a focus on results, and to support women teaching and learning from one another. She’s a lifetime Girl Scout, a teacher, and a passionate supporter of open source software.</p>
          <p>Vanessa is currently building <a href="https://www.codemontage.com/" target="_blank">CodeMontage</a> to help people improve their software skills while improving the world. She also founded and organizes <a href="http://developersforgood.org/" target="_blank">Developers for Good</a> to connect technologists who want to use their skills to make an impact with organizations that need help. Previously, Vanessa led the database and analytics efforts at <a href="https://www.paperlesspost.com/" target="_blank">Paperless Post</a>.</p>
      </div>

      <div id="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Our Board</h2>
      </div>
      <section class="board">

          <h3>Alanna Gombert, CEO &amp; Founder, Gombert Consulting</h3>
          <h3>Marc Hedlund, VP Engineering, Stripe</h3>
          <h3>Cara Jo Miller, Lead UI/UX Designer, Simple Energy, Boulder Chapter Leader</h3>
          <h3>Erynn Petersen, SVP Strategic Mobile Development, TIME Inc.</h3>
      </section>

      <div id="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Contact Us</h2>
      </div>
      <section class="contact">
        <p class="large">For general inquiries: <a href="mailto:info@girldevelopit.com" >info@girldevelopit.com</a></p>
        <p class="large">For partnership opportunities: <a href="mailto:partnerships@girldevelopit.com" >partnerships@girldevelopit.com</a></p>
        <p class="large">For sponsorships: <a href="mailto:sponsorships@girldevelopit.com" >sponsorships@girldevelopit.com</a></p>
      </section>


    </div>

  </div>
</section>
