<% provide(:title, "About") %>
<section class="main-container">

  <div class="container">

    <section class="mission">
      <div class="underlined-headline">
        <h2>Our Mission</h2>
        <hr>
      </div>
      <p class="large">Girl Develop It is a nonprofit organization that creates welcoming, supportive opportunities for women and non-binary adults to learn software development skills. </p>
    </section>

    <div class="vision">
    <h3 class="subtitle">[ Our Vision ]</h3>
    <p>We envision a world where all people are included and empowered in developing the future of technology.</p>
    </div>

    <div class="values">
    <h3 class="subtitle">[ Our Values ]</h3>
    <p>We are committed to making sure women of all races, education levels, income and upbringing can build confidence in their skill set to develop web and mobile applications. Our goal is to provide powerful hands-on programs to women seeking professional help in software development and create basic to advanced web and mobile applications.</p>
    </div>

  </div>

  <section class="story">
    <div class="container">
      <div class="underlined-headline">
        <h2>Our Story</h2>
        <hr>
      </div>
      <p class="large">“Girl, Develop It!” began as a call to action for women, by women who were tired of the low representation of women in tech, and wanted to make a difference.</p>

      <div class="ig-body">
        <div class="ig-row">
          <div class="ig-item">
            <div class="number">2010</div>
            <%= image_tag 'infographic/ig-beginning-1-founded.svg', alt: 'GDI was founded 2010 in NYC' %>
            <p>GDI was founded 2010 in NYC</p>
          </div>

          <div class="ig-item">
            <div class="number">1</div>
            <%= image_tag 'infographic/ig-beginning-2-class.svg', alt: 'It started with just 1 class' %>
            <p>It started with just 1 class</p>
          </div>

          <div class="ig-item">
            <div class="number">24h</div>
            <%= image_tag 'infographic/ig-beginning-3-soldout.svg', alt: '...which sold out in 24 hours' %>
            <p>...which sold out in 24 hours</p>
          </div>
        </div>
      </div>

      <p class="large">The organization was founded in New York City in 2010 by <%= link_to("Vanessa Hurst", "http://vanessahurst.com/") %> and <%= link_to("Sara Chipps", "http://sarajchipps.com/") %>. Today, Girl Develop It chapters are building strong, empowered communities in <%= @chapter_count %> cities, representing 55,000+ members nationwide who are changing their lives through learning to code with us.</p>
    </div>
  </section>


  <div class="container">

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Our Team</h2>
      </div>

      <section>
         <div class="profile profile-left">
          <%= image_tag 'board/katiefranco.png', alt: 'Katie Franco' %>
          <h3 class="nocaps">Katie Nohe Franco, Executive Director </h3>
          <p>Katie began her career as a Legislative Aide with the Maryland General Assembly. As the Legislator’s right hand aide, Katie served as first point of contact with the general public. Internally, she analyzed critical issues, researched policies and provided ongoing advice, counsel and direction to the Legislator and key policy makers. This involvement with policy and passion for service has set the tone for Katie’s career.</p>
          <p>Katie successfully operated her own public affairs and community relations firm and worked with high profile clients like the Pinellas SunCoast Transit Agency (PSTA) and Lyft.  Before that she worked for seven years with the Tampa Bay Partnership where she served as Senior Vice President for Regional Initiatives.</p>
          <p>Katie rejoined the Best Buddies International team in 2015 as Senior Director of State Operations and was later promoted to Vice President of Mission & Leadership. She worked with this nonprofit in the past (2000-2006), and was recruited back during a pivotal time.  During her tenure she lead the new market expansion efforts and established programs in all 50 states, as well as established operations in seven new states.  In addition, Kate grew the programmatic reach by 900% in school-based programs and doubled the employment program impact.  In addition to the external success, Katie lead internal organizational change by creating and establishing an internal Leadership program, created new metric reporting systems and created the pathway for sustainable program growth. </p>
          <p>Katie is a graduate of the Universities of South Florida and Vermont, and holds a Masters in Public Administration. She has completed a variety of rigorous leadership training activities, including a fellowship with the Public Interest Research Group and most memorable is her stint abroad in Harare, Zimbabwe dealing with life and culture in a radically different cultural context.</p>
        </div>

        <div class="profile profile-right">
          <%= image_tag 'board/bindu.jpg', alt: 'Bindu Jallabah' %>
          <h3 class="nocaps">Bindu Jallabah, Director of Operations</h3>
          <p>Bindu is fervently passionate about developing ecosystems that empower disadvantaged communities in making informed, self-determined decisions. She has dedicated most of her career to advocating and developing pragmatic solutions that promote social equity.</p>
          <p>Bindu is a seasoned administrator with nearly two decades of progressive experience in nonprofit leadership and operations management. Prior to joining GDI, Bindu won awards for her work developing and executing the operational strategy for the Elwyn Baring Street Center.</p>
          <p>Bindu is also founder and Board Chair of Karanso Africa, a civil society organization that has innovated literacy to promote self-efficacy and self-determination for women across Sub-Saharan Africa. Leveraging a strong background in Information Technology, Bindu is also the architect of Karanso’s Docteur Mobile initiative which is a tool for self-care and advocacy to improve access to maternal and reproductive health services for vulnerable women in remote villages in West Africa.</p>
        </div> 
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Our Board</h2>
      </div>

      <section>
        <div class="profile profile-left">
          <h3 class="nocaps">Brenda Jin</h3>
          <p>Brenda Jin is an entrepreneur and software engineer. She’s the founder of Guanyin Labs, a company that’s helping employees reach their full potential. Before that, she taught herself to code in 2013 (with the help of GDI!) and became a Senior UI Developer at <%= link_to("Macys.com","https://www.macys.com/", target:"_blank") %>, then a Staff Engineer at Slack.</p>
        </div>
        
        <div class="profile profile-right">
          <h3 class="nocaps">Janelle Jolley</h3>
          <p>Janelle Jolley has a background in journalism and public policy, but eventually found her way to tech after moving to Atlanta and not knowing where to shop. It was there that she founded a marketplace startup, Sidewalk District, as a result of her passion for local independent retailers and their ability to spur economic development in communities across America.</p>
          <p>After her tour of duty as a founder, Janelle moved to California and began working at Google. Her background as a founder made her the perfect fit for being a Product Operations Manager leading international and vertical expansion with Google Local Services, a new startup within Google focused on local SMBs.</p>
        </div>
        
        <div class="profile profile-left">
          <h3 class="nocaps">Erynn Petersen</h3>
          <p>Erynn Petersen, who is a returning board member, was formerly the Executive Director of the Outercurve Foundation. Petersen is a longtime product and engineering executive, having spent time in her career leading teams at Time, Inc., Microsoft, and Amazon. Petersen said: “There’s an urgent need for the creators of technology to reflect the people who are consuming that technology. I am deeply committed to increasing the ranks of women and non-binary adults in technical careers.”</p>
        </div>
        
        <div class="profile profile-right">
          <h3 class="nocaps">Kaya Thomas</h3>
          <p>Kaya Thomas is the founder of We Read Too and a full-time iOS developer. Formerly she co-founded the Zonta Science Camp with the Zonta International Club of New Rochelle where she designed curriculum, facilitated lessons & projects, organized volunteers and mentored camp attendees for over four years. Thomas has been an active volunteer at Black Girls Code for over five years and last year became an active volunteer career mentor with Hack the Hood.</p>
        </div>

        <div class="profile profile-left">
          <h3 class="nocaps">Jeseekia Vaughn</h3>
          <p>Jeseekia is a Software Engineer for Autonomic's IoT team where she specializes in MQTT-connected vehicles. She is very active in the Detroit tech community where she has been a Chapter Leader for 3 years and is also a co-founder of the Detroit Black Tech group and the trainX.ai program. She co-hosts SheTooSTEM, a podcast and community that highlights the experiences of Black women and their various career-paths in STEM.</p>
        </div>
        
         <div class="profile profile-right">
          <h3 class="nocaps">Rebecca Sadwick Shaddix</h3>
          <p>Rebecca Sadwick Shaddix has a background in marketing leadership, software entrepreneurship, go-to-market strategy, and tech policy research. She is the Founder and Managing Partner of Strategica Partners, which develops go-to-market and brand positioning strategies for tech companies that have been recognized by Inc., Forbes, TechCrunch, and others as some of the fastest-growing in their sector. She previously served as Director of Marketing at GoGuardian, Inc. 500’s fastest-growing education company in U.S. history.</p>
          <p>She was recognized as the Los Angeles Business Journal’s Rising Star of 2019 for her track record leading high-growth strategies at Strategica Partners, and received Special Congressional Recognition from Speaker of the House Nancy Pelosi.</p> 
          <p>As a Forbes Contributor, she publishes research about the societal implications of advancements in the tech sector, and led the Digital Technologies Initiative at the UCLA Luskin Center for Innovation, launching its Women in Tech initiative. She is an alumna of UCLA and the UCLA Anderson School of Management.</p>
          <p>You can follow the latest articles on Twitter @RebeccaSadwick, or rebeccashaddix.com.</p>
        </div>
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Frequently Asked Questions</h2>
      </div>
      <section class="faqs">
        <p class="large">Want to learn more about our classes? Interested in contacting your local chapter?
        <br>
        To learn more about GDI and to get answers to your questions, check out our <%= link_to "FAQ", faq_path %>!</p>
      </section>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Contact Us</h2>
      </div>
      <section class="contact">
        <p class="large">Partnership opportunities: <%= mail_to "partnerships@girldevelopit.com" %></p>
        <p class="large">Sponsorship opportunities: <%= mail_to "sponsorships@girldevelopit.com" %></p>
        <p class="large">Press inquiries: <%= mail_to "press@girldevelopit.com" %></p>
        <p class="large"><%= link_to("Request a chapter in your city", "http://goo.gl/forms/qK3uHWZT0T", target: "_blank") %></p>
      </section>


    </div>

  </div>
</section>
