<div class="about-opener">
  <div class="overlay">
    <%#= image_tag("about-bg.jpg") %>
  </div>
  <div class="container">
    <h1>About Girl Develop It</h1>
  </div>
</div>
<section class="main-container">

  <div class="container">

    <section class="mission">
      <div class="underlined-headline">
        <h2>Our Mission</h2>
        <hr>
      </div>
      <p class="large">Girl Develop It is a nonprofit organization that exists to provide affordable and accessible programs for women interested in learning web and software development. Through mentorship and hands-on instruction Girl Develop It can help them reach their goals.</p>
    </section>

    <div class="vision">
    <h3 class="subtitle">[ Our Vision ]</h3>
    <p>Our vision is to create a network of empowered women who feel confident in their abilities to code and build beautiful web and mobile applications. By teaching women around the world from diverse backgrounds to learn software development, we can help women improve their careers and confidence in their everyday lives.</p>
    </div>

    <div class="values">
    <h3 class="subtitle">[ Our Values ]</h3>
    <p>We are committed to making sure women of all ages, races, education levels, income, and upbringing can build confidence in their skill set to develop web and mobile applications. Our goal is to provide powerful hands-on programs to women seeking professional help in software development and create basic to advanced web and mobile applications.</p>
    </div>

  </div>

  <section class="support">
    <div class="container">
      <div class="underlined-headline">
        <h2>Your Amazing Support</h2>
        <hr>
      </div>
      <p class="large">Thank you for supporting Girl Develop It on our mission to make software development easy, affordable and accessible to all women. Your contribution helps us expand our mission to create great programs and opportunities for women learning to code. We are in the final stages of completing our 501(c)(3) status through the Internal Revenue Service.</p>
    </div>
  </section>


  <div class="container">
    <div class="headline">
      <%= image_tag 'flourish.png' %>
      <h2>Our Founders</h2>
    </div>

      <div class="profile-left">
          <%= image_tag 'board/sara.jpg' %>
          <h3>Sara Chipps // Co-founder</h3>
          <p>Sara is the CTO of <a href="http://www.levo.com/">Levo League,</a> where she focuses on developer happiness as a metric for success. In 2010, she cofounded Girl Develop It because she thinks that the development community could use a few more ladies.</p>
          <p>Sara blogs at <a href="http://sarajchipps.com/">SaraJChipps.com</a> and enjoys speaking to and meeting with diverse groups from the Girl Scouts to straight up code junkies. Sara's favorite language is JavaScript, and she thinks coffee is for drinking not coding.</p>
      </div>


      <div class="profile-right">
          <%= image_tag 'board/vanessahurst.jpg' %>
          <h3>Vanessa Hurst // Co-founder</h3>
          <p><a href="http://vanessahurst.com/">Vanessa</a> believes every person should be empowered to use technology to make the world a better place. She started Girl Develop It to provide judgment-free learning opportunities with a focus on results, and to support women teaching and learning from one another. She’s a lifetime Girl Scout, a teacher, and a passionate supporter of open source software.</p>
          <p>Vanessa is currently building <a href="https://www.codemontage.com/">CodeMontage</a> to help people improve their software skills while improving the world. She also founded and organizes <a href="http://www.developersforgood.org/">Developers for Good</a> to connect technologists who want to use their skills to make an impact with organizations that need help. Previously, Vanessa led the database and analytics efforts at <a href="https://www.paperlesspost.com/">Paperless Post.</a></p>
      </div>

      <div class="headline">
        <%= image_tag 'flourish.png' %>
        <h2>The Board</h2>
      </div>

      <div class="profile-left">
          <%= image_tag 'board/corinnewarnshuis.jpg' %>
          <h3>Corinne Warnshuis</h3>
          <p>Corinne is the Executive Director of Girl Develop It. After graduating from University of California, Santa Cruz with a degree in Sociology and Film & Digital Media, she moved to Philadelphia. Prior to becoming the first ED of Girl Develop It, she was the co-leader of the Philly chapter for two years. She also previously worked for the Technical.ly news network, an online publication that covers technology issues and organizes regular events in Philly, Baltimore and Brooklyn. She has also worked in community relations at WHYY.org and written freelance for various online publications. Corinne sits on the Board of Directors for the Prometheus Radio Project. In her spare time, she is a regular contributor to Rad Girls, co-curates Ignite Philly and loves learning hands-on skills, playing with her cats and watching documentaries.</p>
      </div>


      <div class="profile-right">
          <%= image_tag 'board/marc.png' %>
          <h3>Marc Hedlund</h3>
          <p>Marc Hedlund is VP Engineering at Stripe, the online payments company that allows businesses to start accepting payments from all over the world in minutes, with just a few lines of code. At Stripe, Marc is responsible for growing and managing Stripe's engineering team.</p>
          <p>Prior to Stripe, Marc was SVP of Product Development and Engineering at Etsy in New York. One of Stripe's 17 former founders, he also co-founded and was CEO of Wesabe, an online personal finance company. Perviously, Marc held leadership roles at O'Reilly Media, Lucasfilm, and Organic Online. Early in his career, Marc authored one of the first shopping carts on the web.</p>
          <p>Marc serves on the board of directors for Code:2040, a non-profit working to bring more Black and Latina/o engineers into tech startups. Marc is a graduate of Reed College.</p>
      </div>


      <div class="profile-left">
          <%= image_tag 'board/alanna.jpg' %>
          <h3>Alanna Gombert</h3>
          <p>Alanna Gombert is General Manager of CatalystDesk, Conde Nast's digital media trading platform.</p>
          <p>Alanna joined Condé Nast from Google by way of Admeld where she ran the trading desk, agency and demand-side platform relationships and helped grow RTB from an idea to a killer business.</p>
          <p>Prior to Admeld, Alanna worked at Right Media, the first online advertising exchange, where she focused on ad selection algorithms and market dynamics. Right Media was acquired by Yahoo in 2007. Her early career included stints with Nielsen, DoubleClick and the finance world with JP Morgan Chase and Commerzbank. Advertising has allowed her to travel the world and she has experience in international markets including EMEA, APAC, and Latin America.</p>
          <p>Alanna is also very active in the startup community in NYC. She enjoys advising startups, angel investing, and is a proud board member of Rare Crowds and Snowball Technologies.</p>
          <p>She lives in Brooklyn with Husband Gombert and Baby Gombert, likes Thai food, and is trying desperately to learn how to meditate.</p>
      </div>

      <div class="profile-right">
          <%= image_tag 'board/erynn.jpg' %>
          <h3>Erynn Peterson</h3>
          <p>Erynn Petersen is Executive Director of Outercurve, an OSS foundation focused on developing open source projects between enterprise software companies. She is also a founder at Station082, which is dedicated to providing technology access to rural kids.</p>
          <p>Erynn joined Outercurve after spending a year at Activate Consulting where she advised media companies in redefining corporate and product strategies around technology investments.</p>
          <p>Prior to Activate, Erynn was SVP of Paid Services Engineering at AOL, where her teams built the tools, frameworks, and services that helped AOL subscribers safely and securely access content and applications online.Her early career included Amazon.com, where she worked on projects including the launch of the third party sellers platform, several startups, and Microsoft, where she was on the launch team for Bing paid advertising. She combines product management and technical management skills, and spends time teaching for Girl Develop It. She has spoken at events ranging from OSCON to SXSW and is a strong proponent of getting more people into technology and engineering roles.</p>
          <p>She lives in bucolic Enumclaw, Washington with her family and her mongrel terrier, Lebowski, and invites anyone driving through to stop by for coffee.</p>
      </div>

      <div class="profile-left">
          <%= image_tag 'board/carajo.jpg' %>
          <h3>Cara Jo Miller</h3>
          <p>Cara Jo is the Lead UI/UX Designer at Simple Energy, a Boulder company whose mission is to help people save energy.</p>
          <p>Before Simple Energy Cara Jo was the Lead Designer at Are You a Human and the Detroit Media Partnership, both based out of downtown Detroit. While in Detroit Cara Jo was very involved in the technical community and led several groups focused on getting more people involved in technology. In addition to those organizations Cara Jo helped co-lead the Detroit chapter of GDI before moving to Boulder to start a local chapter in the mountains.</p>
          <p>In addition to being Co-leader for the Boulder chapter Cara Jo also serves as the Chapter Leader Board member, making sure that each Chapter Leader get’s the resources they need to bring the GDI mission to their local communities.</p>
          <p>Cara Jo lives in beautiful Boulder, Colorado where she trains for marathons, bikes, and enjoys backpacking in the mountains.</p>
      </div>


    </div>

    <section class="code">
      <div class="container">
        <div class="underlined-headline">
          <h2>Code of Conduct</h2>
          <hr>
        </div>
        <p>Girl Develop It is dedicated to providing a harassment-free community and learning experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We expect all attendees to show respect and courtesy to other attendees throughout Girl Develop It classes and events. Sexual language and imagery is not appropriate for any Girl Develop It event. Girl Develop It participants violating these rules may be sanctioned or expelled from our events or online discussion boards without a refund at the discretion of the event organizers.</P>
        <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion; sexual images in public spaces; deliberate intimidation; stalking; following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact; and unwelcome sexual attention. Adults who identify as men are welcome at our events, and it is expected that all participants be treated with equal respect. We do not tolerate harassment of Girl Develop It participants in any form. All communication should be appropriate for a professional audience. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
        <p>Your privacy is important to us. While photographs may be taken in class and can be shared by group members in the group’s meetup page, no photograph shall be used for promotional purposes without verbal and/or written consent of the attendees. If a group photograph is taken, your participation will serve as your agreement to the use of such a photograph for Girl Develop It promotional purposes. If you are uncomfortable having your photograph shared, please let us know. Teachers, event organizers, volunteers, and hosts are also subject to the anti-harassment policy. In particular, teachers/hosts/organizers should not use sexualized images, activities, or other material. GDI organizers, teachers, teachers assistants, and event hosts (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
        <p>If a participant engages in harassing behavior, the Girl Develop It organizers may take any action they deem appropriate, including warning the offender or expelling him or her from the class/event/meetup group [with no refund]. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact your local Chapter Leader(s) immediately. Contact information for your local Chapter Leader can be found on <%= link_to "#{root_url.chop!}#{chapters_path}", chapters_path %>.</p>
        <p>Girl Develop It Chapter Leaders/Teachers/Event Organizers will be happy to help members contact local law enforcement, provide escorts when possible and with reasonable notice, or otherwise assist those experiencing harassment to feel safe for the duration of the event/class. We value your attendance.</p>
        <p>Girl Develop It expects participants to follow these rules at all Girl Develop It social events and in online discourse.</p>
        <p>If you have any questions, please contact your local chapter. Contact information for your local Chapter Leader can be found at <%= link_to "#{root_url.chop!}#{chapters_path}", chapters_path %>.</p>
      </div>
    </section>





  </div>
</section>
