  <div class="opener">
    <%#= image_tag("photo2.png") %>
    <h1><span class="animated fadeInLeft">Don't be shy</span> <%= image_tag("flourish-med.png" , class: "hide") %> <span class="animated fadeInRight">Develop it</span></h1>
  </div>

  <div class="container" >
  	<section class="mission-statement">
      <div class="underlined-headline">
        <h2>Welcome to Girl Develop It</h2>
        <hr>
      </div>
    	<p class="large">We are a nonprofit organization that provides affordable programs for adult women and non-binary individuals to learn web and software development in a judgement free environment.</p>
      <%= link_to "[ Learn more ]", about_path, :class=>"subtitle"%>
    </section>
  </div>

  <section class="map">
    <div class="container">
    	<div class="underlined-headline">
        <h2>Take a Class</h2>
        <hr>
        <div id="eventbrite-widget-container-100773093034"></div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '100773093034',
        iframeContainerId: 'eventbrite-widget-container-100773093034',

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
      </div>
   
      </div>
    </div>
  </section>

  <section class="stats-section">
    <div class="container">
      <div class="stats">
        <%= image_tag("homepage-stat1.png", :alt => "26 percent") %>
        <p>Women hold only 26% of the approximately four million computing related occupations in the US. <%= link_to "U.S. Department of Labor, Bureau of Labor Statistics, 2013 (Occupational Category: 15–0000)", "http://www.ncwit.org/sites/default/files/resources/btn_02282014web.pdf", target: "_blank" %></p>
      </div>
      <div class="stats">
        <%= image_tag("homepage-stat2.png", :alt => "18 percent") %>
        <p>Women obtain 57% of bachelor’s degrees in the U.S, but fewer than 18% of those degrees are in computer science. (Compared to 1984, when women earned 37%) <%= link_to "National Center for Education Statistics (NCES), 2012 (CIP 11)", "http://www.ncwit.org/sites/default/files/resources/btn_02282014web.pdf", target: "_blank" %></p>
      </div>
      <div class="stats">
        <%= image_tag("homepage-stat3.png", :alt => "34 percent") %>
        <p>Tech companies with more women in management have a 34% higher return of investment. <%= link_to "National Center for Women and IT Fact Sheet", "http://www.ncwit.org/sites/default/files/resources/ncwitfactsheet.pdf", target: "_blank" %></p>
      </div>
    </div>
  </section>

  <div class="press-logos">
    <h3>{ As seen in }</h3>
    <%#= image_tag("press-logos.png") %>
    <%= link_to image_tag("as_seen_in/code_org.png"), "https://www.youtube.com/watch?v=nKIu9yen5nc", target: "_blank" %>
    <%= link_to image_tag("as_seen_in/tnyt.png"), "http://www.nytimes.com/2012/03/28/technology/for-an-edge-on-the-internet-computer-code-gains-a-following.html", target: "_blank" %>
    <%= link_to image_tag("as_seen_in/ted.png"), "http://blog.ted.com/2013/01/29/10-places-where-anyone-can-learn-to-code/", target: "_blank" %>
    <%= link_to image_tag("as_seen_in/fast_company.png"), "http://www.fastcompany.com/1776382/female-geeks-flex-their-skills-ladies-only-hackathon", target: "_blank" %>
    <%= link_to image_tag("as_seen_in/lifehacker.png"), "http://lifehacker.com/5872682/learn-to-code-in-2012-with-free-weekly-programming-lessons-from-codecademy", target: "_blank" %>
  </div>
  <script>
    var chapter_id = "chapters/3";
  </script>
