<!DOCTYPE html>
<html>
<head>
  <title>Girl Develop It</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Home Page -->
  <div class="opener">
    <%= image_tag("photo.png") %>
    <h1>Don't be shy. Develop it.</h1>
  </div>
  <div id="container">
  	<section class="mission-statement">
    	<h2>Who are we?</h2>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec lobortis purus. Nunc et arcu varius, tempor sapien at, tempor sapien. Suspendisse volutpat nisl in lacus molestie, quis ultricies felis viverra. Donec massa urna, venenatis ut ligula eu, pharetra posuere nisl. Mauris scelerisque dui eu mi bibendum, at fringilla nulla dignissim. Morbi posuere est id molestie tempor. Phasellus ut augue blandit, ultricies erat vel, porttitor lorem. </p>
    </section>

  	<section>
  		<!-- <p>We're now located in <%= @location.count %> cities!</p>
  		<p>Don't see your city? Start a new chapter!</p>
  		<img class="map" src="#"> -->
  	</section>
  </div>

</body>
