  <div class="opener">
    <%#= image_tag("photo2.png") %>
    <h1><span class="animated fadeInLeftBig">Don't be shy</span> <%= image_tag("flourish-med.png" , class: "hide") %> <span class="animated fadeInRightBig">Develop it</span></h1>
  </div>

  <div class="container" >
  	<section class="mission-statement">
      <div class="underlined-headline">
        <h2>Who are we?</h2>
        <hr>
      </div>
    	<p class="large">Girl Develop It is a nonprofit organization that exists to provide affordable and accessible programs for women interested in learning web and software development. Through mentorship and hands-on instruction Girl Develop It helps women of diverse backgrounds reach their goals. Our vision is to create a network of empowered women who are confident in their abilities to code and build beautiful web applications. Through teaching women around the world to learn software development, we can help them improve their careers and the confidence they carry with them in their everyday lives.</p>
      <%= link_to "[ Learn more ]", about_path, :class=>"subtitle"%>
    </section>
  </div>

  <section class="map">
    <div class="container">
    	<div class="underlined-headline">
        <h2>We are now in <%= @chapters.count %> cities!</h2>
        <hr><p class="subtitle hide">Don't see your hometown?
          <% if current_admin_user != nil %>
            <%= link_to "Start a new chapter!", "#{root_path}admin/chapters/new" %></p>
            <% else %>
            <a href="https://docs.google.com/a/girldevelopit.com/forms/d/1IwGncJ6_69MWa2_rrikO5Q3DLriA04Eq9x0BUnxkwTw/viewform?edit_requested=true#start=invite">Start a new chapter!</a></p>
          <% end %>
        </p>
        <%=link_to "Find GDI in your hometown!", chapters_path, :class=>" subtitle show-inline"%>
      </div>
        <div class="us_map hide">
          <div class="map"></div>
        </div>
    </div>
  </section>

  <section class="stats-section">
    <div class="container">
      <div class="stats">
        <%= image_tag("stat-25.png") %>
        <p>Women hold only 25% of the 3,816,000 computing related occupations in the US.</p>
      </div>
      <div class="stats">
        <%= image_tag("stat-58.png") %>
        <p>Women obtain 58% of bachelor’s degrees in the U.S, but less than 18% of those degrees are in computer science. (Compared to 1984, when women earned 37%)</p>
      </div>
      <div class="stats">
        <%= image_tag("stat-34.png") %>
        <p>Tech companies with more women in management have a 34% higher return of investment. Diverse tech and startup teams are critical for innovation.</p>
      </div>
    </div>
  </section>

  <div class="press-logos">
    <h3>{ As seen in }</h3>
    <%#= image_tag("press-logos.png") %>
    <%= link_to image_tag("as_seen_in/code_org.png"), "https://www.youtube.com/watch?v=nKIu9yen5nc", target: "_blank" %>
    <%= link_to image_tag("as_seen_in/tnyt.png"), "http://www.nytimes.com/2012/03/28/technology/for-an-edge-on-the-internet-computer-code-gains-a-following.html", target: "_blank" %>
    <%= link_to image_tag("as_seen_in/ted.png"), "http://blog.ted.com/2013/01/29/10-places-where-anyone-can-learn-to-code/", target: "_blank" %>
    <%= link_to image_tag("as_seen_in/fast_company.png"), "http://www.fastcompany.com/1776382/female-geeks-flex-their-skills-ladies-only-hackathon", target: "_blank" %>
    <%= link_to image_tag("as_seen_in/lifehacker.png"), "http://lifehacker.com/5872682/learn-to-code-in-2012-with-free-weekly-programming-lessons-from-codecademy", target: "_blank" %>
  </div>
  <script>
    var chapter_id = "chapters/3";
  </script>
