
<section class="main-container">

  <div class="container">

    <section class="sponsors">
      <div id="headline"><%= image_tag 'flourish.png' %><br/></div>
      <p class="large">Supporters of Girl Develop It make a commitment to diversity in tech. By supporting our organization, you are helping us grow our impact. Girl Develop It is currently serving 35,000 members in 50 cities in the US. With the support of companies like yours, we are better equipped to expand and deepen our impact. Our organization is more than just classes. Girl Develop It’s in-person, culture-centered approach to create learning communities means that women progress from students to teachers to leaders and technical professionals over time.</p>

      <div class="underlined-headline">
        <h2>Sponsors</h2>
        <hr>
      </div>

    <p class="large">We thank the following organizations for supporting Girl Develop It:</p>

      <div class="profiles">

          <div class="single-profile">
            <div class="profile-img">
              <%= image_tag 'sponsors/dealer.jpg' %>
            </div>

            <div class="profile-content">
              <h3>Dealer.com</h3>
              <p>Dealer.com, a Dealertrack Technologies Solution, is the automotive industry's leading provider of streamlined and intuitive solutions for managing car dealership marketing (SEO, SEM, Display, Facebook Advertising) and operations (CRM, Inventory).</p>
            </div>
          </div>

          <div class="single-profile">
            <div class="profile-img">
              <div class="logo-placeholder"><p>Your Logo<br> Here</p></div>
            </div>

            <div class="profile-content">
              <h3>Become a Sponsor</h3>
              <p>Thank you for supporting Girl Develop It on our mission to make software development easy, affordable and accessible to all women. Your contribution helps us expand our mission to create great programs and opportunities for women learning to code. We are in the final stages of completing our 501(c)(3) status through the Internal Revenue Service.</p>
            </div>
          </div>


      </div>

      <p>If your company is interested in supporting our mission, please reach out to <a href="sponsorships@girldevelopit.com">sponsorships@girldevelopit.com</a> to hear about opportunities.</p>

    </section>
    <section class="partners">
      <div class="underlined-headline">
        <h2>Partners</h2>
        <hr>
      </div>

      <p class="large">Community partners support Girl Develop It through a variety of mission-oriented activities and in-kind support. <br/>Thank you to our partners:</p>

      <div class="profiles">

          <div class="single-profile">
            <div class="profile-img">
              <%= image_tag 'sponsors/devBootcamp.png' %>
            </div>

            <div class="profile-content">
              <h3>Dev Bootcamp</h3>
              <p>Girl Develop It has partnered with Dev Bootcamp to offer 10 current Girl Develop It members a $2,500 discount on tuition to Dev Bootcamps 9-week web development intensive taking place in New York, San Francisco and Chicago. Recruiting women for STEM careers is crucial and Girl Develop It passionately believes that collaboration, mentorship, and hands-on leadership creates accessible entry points into the world of software engineering. This scholars program will serve as another opportunity to increase awareness to gender parity in tech and access to resources for future coders.</p>
            </div>
          </div>
          <div class="single-profile">
            <div class="profile-img">
              <%= image_tag 'sponsors/generalassembly.png' %>
            </div>

            <div class="profile-content">
              <h3>General Assembly</h3>
              <p>Girl Develop It is partnering with General Assembly to bring you discounted classes. Check back for more details Fall 2014.</p>
            </div>
          </div>
          <div class="single-profile">
            <div class="profile-img">
              <%= image_tag 'sponsors/blackgirlscode.png' %>
            </div>

            <div class="profile-content">
              <h3>Black Girls CODE</h3>
              <p>Black Girls CODE is devoted to showing the world that black girls can code, and do so much more. By reaching out to the community through workshops and after school programs, Black Girls CODE introduces computer coding lessons to young girls from underrepresented communities in programming languages such as Scratch or Ruby on Rails.</p>
            </div>
          </div>
          <div class="single-profile">
            <div class="profile-img">
              <%= image_tag 'sponsors/stickermule.jpg' %>
            </div>

            <div class="profile-content">
              <h3>Sticker Mule</h3>
              <p>Sticker Mule helps thousands of people, startups, bloggers, artists and companies order awesome stickers that are printed beautifully and ship fast.</p>
            </div>
          </div>
      </div>

      <p>If your organization is interested in working with Girl Develop It in support of our mission, please reach out to <a href="partnerships@girldevelopit.com">partnerships@girldevelopit.com</a>.</p>

  </section>
  </div>

</section>
