<% provide(:title, "Girl Develop It 2016 Leadership Summit") %>

<div class="chapter-leader-img">
<% image_tag 'chapter-leader-summit.jpg', alt: 'Girl Develop It Chapter Leaders at 2015 Annual Leadership Summit' %>
</div>

<section class="about-gdi">
	<p>Girl Develop It is a 501(c)3 nonprofit that provides affordable and accessible opportunities to women who want to learn web and software development through hands-on instruction. Since our founding in 2010, Girl Develop It has led the nationwide movement to provide women with avenues to participate in the technology industry today.</p>
</section>

<section class="about-summit">
 <p>On October 6th - 9th in Austin, TX, the annual Girl Develop It Leadership Summit will bring together 85 industry-leading technical women from our 50+ chapters across the country, representing more than 68,000 Girl Develop It members nationwide.</p>
</section>

<section class="summit-infographics">
	<%= image_tag 'infographic/members.png', alt: 'GDI Members' %>
	<p> 68,437 members </p>
	<%= image_tag 'infographic/leaders-volunteers.png' %>
	<p> 201 leaders</p>
	<%= image_tag 'infographic/chapters.png' %>
	<p> <%= @chapter_count %> chapters </p>
</section>

<section class="about-summit">
<p>The goal of the Summit is to provide our leaders with invaluable opportunities to connect, and to receive training and support in order to empower them to continue as ambassadors of GDI's mission in their respective cities. The Summit will feature industry experts presenting best practices, including workshops on marketing and inclusion outreach, how to build a leadership team, and effective storytelling.</p>
</section>

<section class="summit-video">
  <%= raw VideoPlayer::player("https://vimeo.com/149221166") %>
 </section>

<section class="get-involved">
  <h2 class="underlined-headline">Get Involved<h2>
  <div class="sponsorship-options">
    LA CASA DE GDI​​| $25k
GDI is taking over downtown Austin! 45 hotel rooms to be exact. Help us cover the cost of
home base for our leaders for the weekend.
GIRL, BBQ IT! ​| $10k
A girl’s gotta eat! This sponsorship covers our Friday night team celebration dinner, where our
goal is to fill our bellies, celebrate our collective strides, and recharge for the next day. This
support also covers Saturday’s on-site conference meals: a blissful breakfast, luscious lunch,
and an afternoon sweet treat.
HOT SAUCE IN OUR BAG, SWAG​​| $10k
T-shirts, water bottles, tote bags, stickers...nothing says we love you to our leaders more than
cold hard swag. Especially swag they can use post-summit to spread the mission of GDI!
WELCOME TO AUSTIN HOEDOWN ​| $5k
It’s our first time hosting the Summit in Austin! We want to show our leaders what this southern
gem of a city is all about. This event will be on the first night of the Summit, welcoming our
travelers from all over with local specialties and beverages!
FAREWELL FUN BRUNCH​​| $5k
On Sunday, our leaders will say say goodbye and head back to their chapters. Let’s send them
off right to their respective cities feeling the momentum of the conference! The plan: sharing
favorite summit moments over bottomless mimosas and coffee.
GEEKS ON A BUS ​| $5k
We’re bringing 85 chapter leaders from across the country — from Burlington, VT to Los
Angeles, CA — to join us in Austin! Help us shuttle them around while in town!
RODEO QUEEN GLAMOUR SHOTS​​| $2.5k
It’s a rare thing to have all of our leaders in the same place at once! Help us get head shots to
show off our amazing leaders on girldevelopit.com and get a big group shot to commemorate
the Summit.
LIVE-STREAM & VIDEO​​| $2.5k
Help our leaders who can’t make it to Austin particip
  </div>
</section>

<section class="sponsorship-levels">
  <h2>Support Levels &amp; Perks</h2>
  <div class="sponsorship-levels">
    $25k
★ Opportunity to send a company representative to address leaders during Saturday lunch
★ Company logo/link on GDI Website Supporters page (girldevelopit.com/supporters)
★ Company logo/link included in 09/2016 launch of new national newsletter
★ Individual recognition via social media: Four (4) tweets (56k followers); four (4)
Facebook posts (15k followers)
★ Company logo/link with headline placement on Leadership Summit landing page
★ Logo placement on all printed Summit materials and signage
★ Verbal recognition in Summit remarks
★ Option to send company swag for swag bag
$10k
★ Company logo/link on Leadership Summit landing page
★ Company logo/link on GDI Website Supporters page
★ Company logo/link included in 09/2016 launch of new national newsletter (68k mailing
list)
★ Logo placement on all printed Summit materials and signage
★ Individual recognition via social media: Two (2) tweets (56k followers); two (2) Facebook
post (15k followers)
★ Verbal recognition in Summit opening remarks
★ Option to send company swag for swag bag
$5k
★ Company logo/link on Leadership Summit landing page
★ Logo placement on all printed Summit materials and signage
★ Recognition via social media: inclusion in one (1) tweet (56k followers); and one (1)
Facebook post (15k followers)
★ Verbal recognition in Summit opening remarks
★ Option to send company swag for swag bag
$2.5k
★ Company logo/link on Leadership Summit landing page
★ Logo placement on all printed Summit materials and signage
  </div>
</section>

<section class="sponsors">
  <%= image_tag 'sponsors/IBM.png', alt: 'IBM' %>
  <%= image_tag 'sponsors/indeed.png', alt: 'Indeed' %>
</section>

<section class="contact-us">
  <p>Have other ideas in mind? Please reach out to sponsorships@girldevelopit.com to discuss further. All donations are 501(c)3 tax deductible.</p>
</section>
