<% provide(:title, "Girl Develop It 2017 Leadership Summit") %>

<div class= "summit">

  <section class="summit-hero">
    <div class="underlined-headline">
        <h2>2017 Leadership Summit</h2>
        <hr>
      </div>
  </section>

  <section class="about-gdi text-block">
    <p>Girl Develop It is a 501(c)3 nonprofit that provides affordable and accessible opportunities to women who want to learn web and software development through hands-on instruction. Since our founding in 2010, Girl Develop It has led the nationwide movement to provide women with avenues to participate in the technology industry today.</p>
  </section>

  <section class="divider">
    <%= image_tag 'flourish.png'%>
  </section>

  <section class="about-summit text-block">
    <p>From October 19th - 22nd in Denver, Colorado, the annual Girl Develop It Leadership Summit will bring together 75 industry-leading technical women from our 50+ chapters across the country, representing more than 85,000 Girl Develop It members nationwide.</p>
  </section>

  <section class="divider">
    <%= image_tag 'flourish.png'%>
  </section>

  <section class="about-summit text-block">
      <p>The goal of the Summit is to provide our leaders with opportunities to connect, and to receive training and support in order to empower them to continue as ambassadors of GDI's mission, serve as leaders in their communities and the industry. The Summit features workshops on marketing, inclusive outreach, building a leadership team, effective storytelling and much more.</p>
  </section>

  <section>
    <div class="chapter-leader-img text-block">
      <%= image_tag 'chapter-leader-summit.jpg', alt: 'Girl Develop It Chapter Leaders at 2015 Annual Leadership Summit' %>
      <p class="text-block">Watch video recaps from our <a href="https://vimeo.com/149221166">2015 Leadership Summit</a> and <a href="https://vimeo.com/196622462">last year’s Summit.</a><p>
    </div>
  </section>

  <section class="support-levels-perks">
    <div class="underlined-headline">
      <h2>Levels &amp; Perks For Supporting</h2>
      <hr>
    </div>
    <div class="sponsorship-levels">
      <h3>$50k</h3>
        <ul>
          <li><%= fa_icon "star" %>Opportunity to send a company representative to address leaders during Saturday program</li>
          <li><%= fa_icon "star" %>Inclusion as Girl Develop It headline sponsor including:
            <ul>
              <li><%= fa_icon "circle-o" %> company logo, bio & highlight across Summit materials</li>
              <li><%= fa_icon "circle-o" %>one year of prominent positioning of logo/link across assets, including website Supporters page</li>
              <li><%= fa_icon "circle-o" %> one year of inclusion in national newsletter, including logo/link and company bio</li>
            </ul>
          </li>
          <li><%= fa_icon "star" %>National and local social media promotion before, during and after Summit</li>
          <li><%= fa_icon "star" %>Individual recognition via social media</li>
          <li><%= fa_icon "star" %>Verbal recognition in Summit remarks</li>
          <li><%= fa_icon "star" %>Option to send company swag for swag bag</li>
        </ul>

      <h3>$25k</h3>
        <ul>
          <li><%= fa_icon "star" %>Inclusion as Girl Develop It sponsor including:
            <ul>
              <li><%= fa_icon "circle-o" %>company logo, bio & highlight across Summit materials</li>
              <li><%= fa_icon "circle-o" %>one year of logo/link across assets, including website Supporters page</li>
            </ul>
          </li>
          <li><%= fa_icon "star" %>National and local social media promotion before, during and after Summit</li>
          <li><%= fa_icon "star" %>Recognition via social media</li>
          <li><%= fa_icon "star" %>Verbal recognition in Summit remarks</li>
          <li><%= fa_icon "star" %>Option to send company swag for swag bag</li>
        </ul>

      <h3>$10k</h3>
        <ul>
          <li><%= fa_icon "star" %>Inclusion as Girl Develop It sponsor including:
            <ul>
              <li><%= fa_icon "circle-o" %>company logo, bio & highlight across Summit materials</li>
              <li><%= fa_icon "circle-o" %>six months of logo/link across assets, including website Supporters page</li>
            </ul>
          </li>
          <li><%= fa_icon "star" %>Recognition via social media</li>
          <li><%= fa_icon "star" %>Verbal recognition in Summit remarks</li>
        </ul>

      <h3>$5k</h3>
        <ul>
          <li><%= fa_icon "star" %>Inclusion as Girl Develop It sponsor including:
            <ul>
              <li><%= fa_icon "circle-o" %>company logo across Summit materials</li>
              <li><%= fa_icon "circle-o" %>three months of logo/link across assets, including website Supporters page</li>
            </ul>
          </li>
          <li><%= fa_icon "star" %>Verbal recognition in Summit remarks</li>
        </ul>

      <h3>$2.5k</h3>
        <ul>
          <li><%= fa_icon "star" %>Inclusion as Summit sponsor, including company logo/link on Summit landing page</li>
          <li><%= fa_icon "star" %>Logo on all printed Summit materials and signage</li>
        </ul>
    </div>
  </section>

  <section>
    <div class="sponsorship-levels">
      <h3>Current GDI National Assets</h3>
        <ul>
          <li><%= fa_icon "star" %><b>girldevelopit.com:</b> 10,000 weekly pageviews</li>
          <li><%= fa_icon "star" %><b>Twitter:</b> 85,000 followers</li>
          <li><%= fa_icon "star" %><b>Facebook:</b> 17,000 followers</li>
          <li><%= fa_icon "star" %><b>Instagram:</b> 2,770 followers</li>
          <li><%= fa_icon "star" %><b>Medium:</b> 13,600 followers</li>
          <li><%= fa_icon "star" %><b>Tumblr:</b> 550 followers</li>
          <li><%= fa_icon "star" %><b>Newsletter subscribers:</b> 85,000</li>
        </ul>
      </div>
  </section>

  <section class="supporters">
    <div class="headline">
      <%= image_tag 'flourish.png'%>
      <h2>Sponsors</h2>
    </div>
      <div class="supporter-logos">
        <%= link_to image_tag('summit/turing-horizontal.png', height: '60', alt: 'turing.io'), 'https://www.turing.io/', target: '_blank' %>
        <br>
        <%= link_to image_tag("summit/dreamhost.png", height: '60', alt: 'dreamhost'), "https://www.dreamhost.com/", target: "_blank" %>
      </div>
  </section>

  <section class="contact-us">
    <div class="headline">
      <%= image_tag 'flourish.png'%>
      <h2>Contact Us</h2>
    </div>
    <div class="text-block">
      <p>Have other ideas in mind? Please reach out to <%= mail_to 'sponsorships@girldevelopit.com', nil, target: 'blank' %> to discuss further. Girl Develop It is a 501(c)3 nonprofit.</p>
    </div>
  </section>
</div>
