<% provide(:title, "Supporters") %>
<section class="main-container">

  <div class="container">

    <section class="sponsors">
      <div class="underlined-headline">
        <h2>Supporters</h2>
        <hr>
      </div>
      <p class="large">Supporters of Girl Develop It make a commitment to diversity in tech. By supporting our organization, you are helping us grow our impact. Girl Develop It is currently serving 55,000+ members in <%= @chapter_count %> cities in the US. With the support of companies like yours, we are better equipped to expand and deepen our impact. Our organization is more than just classes. Girl Develop It’s in-person, culture-centered approach to create learning communities means that women progress from students to teachers to leaders and technical professionals over time.</p>

      <div class="underlined-headline">
        <h2>Sponsors</h2>
        <hr>
      </div>

      <p class="large">We thank the following organizations for supporting Girl Develop It:</p>
      <div class="sponsor-logos">
        <%= link_to image_tag("sponsors/knight-foundation.jpg", height: '60'), "http://www.knightfoundation.org/", target: "_blank" %>
        <%= link_to image_tag("sponsors/craigslist.png", height: '60'), "http://www.craigslist.org/about/sites", target: "_blank" %>
        <%= link_to image_tag("sponsors/benefit.png", height: '80'), "http://www.boldisbeautiful.com/us", target: "_blank" %>
        <%= link_to image_tag("sponsors/duck-duck-go.png", height: '60'), "http://www.duckduckgo.com", target: "_blank" %>
        
        <%= link_to image_tag("sponsors/qualcomm.png", height: '60'), "http://www.qualcomm.com", target: "_blank" %>
        <%= link_to image_tag("sponsors/stickermule.png", height: '70'), "https://www.stickermule.com", target: "_blank" %>
        <%= link_to image_tag("sponsors/salesforce.png", height: '80'), "http://www.salesforce.com", target: "_blank" %>
        <%= link_to image_tag("sponsors/women-techmakers.png", height: '60'), "http://www.womentechmakers.com", target: "_blank" %>
      </div>
      <p class="large">If your company is interested in supporting our mission, please reach out to <br/><a href="mailto:sponsorships@girldevelopit.com">sponsorships@girldevelopit.com</a> to hear about opportunities.</p>

    </section>
    <section class="partners">
      <div class="underlined-headline">
        <h2>Partners</h2>
        <hr>
      </div>

      <p class="large">Community partners support Girl Develop It through a variety of mission-oriented activities and in-kind support.<br/>Thank you to our partners:</p>

      <div class="partner-logos">
        <%= link_to image_tag("partners/code-for-america.png", height: '60'), "http://codeforamerica.org", target: "_blank" %>
        <%= link_to image_tag("partners/aol.png", height: '60'), "http://aol.com", target: "_blank" %>
        <%= link_to image_tag("partners/blackgirlscode.png", height: '60'), "http://blackgirlscode.com", target: "_blank" %>
        <%= link_to image_tag("sponsors/code-montage.png", height: '60'), "http://www.codemontage.com", target: "_blank" %>
      </div>

      <p class="large">If your organization is interested in working with Girl Develop It in support of our mission, please reach out to <a href="mailto:partnerships@girldevelopit.com">partnerships@girldevelopit.com</a>.</p>

  </section>
  </div>

</section>
