<% provide(:title, "Chapters") %>
  <section class="main-container">
  <div class="container">

    <div class="underlined-headline">
      <h2>We are now in <%= @chapters.count %> cities!</h2>
        <hr><p class="subtitle hide">Don't see your hometown?
          <% if current_admin_user != nil %>
            <%= link_to "Start a new chapter!", "#{root_path}admin/chapters/new" %></p>
            <% else %>
            <a href="https://docs.google.com/a/girldevelopit.com/forms/d/1IwGncJ6_69MWa2_rrikO5Q3DLriA04Eq9x0BUnxkwTw/viewform?edit_requested=true#start=invite">Start a new chapter!</a></p>
          <% end %>
        </p>
    </div>

    <section class="state-index hide">
      <% @states.each do |s| %>
        <div class="state-container">
          <div class="state"><%= image_tag(image_route(s[0])) %></div>
          <hr>
          <h2><%= s[0] %></h2>
          <% s[1].each do |l| %>
            <h3 class="large"><%= link_to l, chapter_path(l.parameterize) %></h3>
          <% end %>
        </div>
    <% end %>
    </section>

    <section id="state-list">
      <div class="accordion show">
        <% @states.each do |s| %>
          <section class="hidden">
            <h2><%= s[0] %></h2>
            <ul>
              <% s[1].each do |l| %>
                <li><h3><%= link_to l, chapter_path(l.parameterize) %><h3></li>
              <% end %>
            </ul>
          </section>
        <% end %>
      </div>
    </section>
  </div>
  </section>
