<% provide(:title, "#{@chapter.chapter}") %>
<section class="main-container">
  <div class="container">
    <aside class="chapter-aside">
      <div class="state-container-aside">
        <%= link_to image_tag(image_route(@chapter.state)), chapters_path %>
      </div>
      <hr>
      <h1><%= @chapter.chapter %></h1>

      <%= render partial: "social_media_chapter", locals: {user: @chapter} %>

      <p class="subtitle">- don't be shy -</p>
      <%= link_to "{ Join Us }", "http://www.meetup.com/#{@chapter.meetup}", :class=>"button" %>

      <% if @chapter.sponsors.count != 0 %>
        <div class="hide">
          <div class="sponsors">
            <h2>Sponsors</h2>
            <div class="logos">
              <% @sponsors.each do |sponsor| %>
                <% if sponsor.image? %>
                  <%= link_to image_tag(sponsor.image.url), sponsor.url, target: "_blank" %>
                <% elsif sponsor.name? %>
                  <%= link_to sponsor.url, target: "_blank", :class=>"subtitle" do %>
                    { <%= sponsor.name %> }
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </aside>

    <section id="content-section">
      <div id="headline">
        <%= image_tag 'pencil.png' %>
        <h2>Upcoming Events</h2>
      </div>

      <div class="classes">
      </div>

      <% if @leaders.count != 0 %>
        <div id="headline">
          <%= image_tag 'flourish.png' %>
          <h2>Chapter Leaders</h2>
        </div>
      <% end %>

      <div class="profiles">

        <% @leaders.each do |bio| %>
          <div class="single-profile">
            <div class="profile-img">
              <% if bio.image? %>
                <%= image_tag bio.image %>
              <% elsif bio.pic_link? %>
                <%= image_tag bio.pic_link %>
              <% else %>
                <%= image_tag "photo-not-available.jpg" %>
              <% end %>
            </div>

            <div class="profile-content">
              <h3><%= bio.name %></h3>
              <% if bio.info[0, 3] == "<p>" %>
                <%= bio.info.html_safe %>
              <% else %>
                <%= auto_link(simple_format(bio.info.html_safe)) %>
              <% end %>
              <%= render partial: "social_media_bio", locals: {bio: bio} %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="profiles">
        <% if @instructors.count != 0 %>
          <div id="headline">
            <%= image_tag 'apple.png' %>
            <h2>The Instructors</h2>
          </div>
        <% end %>

        <% @instructors.each do |bio| %>
          <div class="single-profile">
            <div class="profile-img">
              <% if bio.image? %>
                <%= image_tag bio.image %>
              <% elsif bio.pic_link? %>
                <%= image_tag bio.pic_link %>
              <% else %>
                <%= image_tag "photo-not-available.jpg" %>
              <% end %>
            </div>

            <div class="profile-content">
              <h3><%= bio.name %></h3>
              <% if bio.info[0, 3] == "<p>" %>
                <%= bio.info.html_safe %>
              <% else %>
                <%= simple_format(bio.info.html_safe) %>
              <% end %>
              <%= render partial: "social_media_bio", locals: {bio: bio} %>

            </div>
          </div>
        <% end %>
      </div>

      <div class="profiles">
        <% if @volunteers.count != 0 %>
          <div id="headline">
            <%= image_tag 'apple.png' %>
            <h2>The Volunteers</h2>
          </div>
        <% end %>

        <% @volunteers.each do |bio| %>
          <div class="single-profile">
            <div class="profile-img">
              <% if bio.image? %>
                <%= image_tag bio.image %>
              <% elsif bio.pic_link? %>
                <%= image_tag bio.pic_link %>
              <% else %>
                <%= image_tag "photo-not-available.jpg" %>
              <% end %>
            </div>

            <div class="profile-content">
              <h3><%= bio.name %></h3>
              <% if bio.info[0, 3] == "<p>" %>
                <%= bio.info.html_safe %>
              <% else %>
                <%= simple_format(bio.info.html_safe) %>
              <% end %>
              <%= render partial: "social_media_bio", locals: {bio: bio} %>

            </div>
          </div>
        <% end %>
      </div>

      <script type="text/template" id="meetup">
      <%% _.each( classesArr,function(course){ %>
        <h3><a href="<%%= course.event_url %>"><%%= course.name %></a></h3>
        <p class="subtitle">[ <%%= moment(course.time).format("dddd, MMMM Do YYYY, h:mm a") %>
        <%% if(typeof course.venue !== "undefined" && course.visibility === "public") { %>
            , <a href=" https://maps.google.com/?q=<%%= course.venue.address_1 %>, <%%= course.venue.city %>, <%%= course.venue.state %>"><%%= course.venue.address_1 %>,<%%= course.venue.city %>,<%%= course.venue.state %></a>
          <%% } %>
          ] </p>
          <%= render partial: "meetup_map"%>
         <p><%%= course.description.substring(0, 400) %><a href="<%%= course.event_url %>">...read more</a></p>
         <a href="<%%= course.event_url %>" class="button">RSVP</a>
       <%% }); %>
      </script>

      <script type="text/javascript">

        var meetup_url = '/meetups/<%= params[:id] %>.json';
        var classesArr = null;
        $.getJSON(meetup_url).done(function (classesData){
          if(classesData.length>0) {
            classesArr = classesData.slice(0,3);
            var classes = $('#meetup').html();
            //instead send classesArr to template where _.each is waiting...
            //idea seen here: http://stackoverflow.com/questions/4778881/how-to-use-underscore-js-as-a-template-engine
            $(".classes").html(_.template(classes,classesArr));
          } else {
            $(".classes").html("<p class=\"uhOh\">Sadly, no meetups are currently scheduled for this Chapter. <a href=\"http://meetup.com/<%= @chapter.meetup %>\">Join our meetup group</a> to be notified when a new meetup is happening. Thanks for visiting us!</p>")};
          });

      </script>
    </section>
  </div>
</section>
