<% provide(:title, "#{@material.title}") %>
<section class="main-container">
  <div class="container">
  	<section>
	    <h1><%= @material.title %></h1>
	    <hr>
	    <p><%= @material.long_description %></p>
  	</section>
  	<div class="material-extras">
    	<section>
        <div class="class-slides">
          <h3>Class Slides</h3>
          <%= @material.slides.html_safe %>
        </div>
      </section>
        
      <% if @material.practice_files? %>
      <section>
        <div class="practice-files">
          <h3>Exercises and Practice Files</h3>
          <%= @material.practice_files.html_safe %>
        </div>
      </section>
      <% end %>

      <% if @material.github_link %>
      <section>
        <div class="github-fork">
          <a href="<%= @material.github_link %>" target="_blank"> <%= image_tag("github-fork.png", :height=>40) %> Fork this curriculum on Github</a>
        </div>
      </section>
      <% end %>
    </div>
  </div>
</section>
