<!DOCTYPE html>
<html>
<head>
  <title>GDI Chapters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="main-container">
  <div class="container">
    <h1>Chapter Index</h1>

    <div class="state-index">
      <% @location.each do |l| %>
        <div class="state-container">
          <div class="state">
            <%= image_tag("NC.png") %>
            <!-- <%= image_tag("NC.png") %> -->
          </div>
          <hr>
          <h1>State Name</h1>
          <h2><%= link_to l.location, location_path(l.id) %></h2>
        </div>
      <% end %>
    </div>

  </div>
  </section>
</body>
