<!DOCTYPE html>
<html>
<head>
  <title>GDI Chapters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="main-container">
  <div class="container">
    <h1>This is the Chapter Index</h1>



    <section class="state-index">
      <% @states.keys.each do |s| %>
        <div class="state-container">
          <div class="state">
            <%= image_tag(image_route(s)) %>
          </div>
          <hr>
          <h1><%= s %></h1>
          <% @states[s].each do |l| %>
            <h2><%= l %></h2>
          <% end %>
        </div>
        <% end %>

    </section>
  </div>
</section>
</body>
