<!DOCTYPE html>
<html>
<head>
  <title>GDI Chapters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="main-container">
  <div class="container">
    <h1>This is the Chapter Index</h1>
    <% @states.keys.each do |s| %>
    <div class="state-index">
      <div class="state-container">

          <%= image_tag(image_route(s)) %>
        <div class="state">
          </div>
          <hr>
          <h2><%= s %></h2>
          <% @states[s].each do |l| %>
            <h2><%= l %></h2>
          <% end %>
        </div>
    <% end %>
  </div>


  </div>
</section>
</body>
