<!DOCTYPE html>
<html>
<head>
  <title>GDI Chapters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h1>Locations</h1>
  		<% @location.each do |l| %>
    <ul>
      <%= link_to l.location, location_path(l.id) %>
      <li><%= l.blurb %></li>
      <li><%= l.fb %></li>
      <li><%= l.meetup %></li>
      <li><%= l.geo %></li>
    </ul>
  <% end %>
</body>
