<!DOCTYPE html>
<html>
<head>
  <title>GDI Chapters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1>Chapter Index</h1>

  <div class="state">
    <% @location.each do |l| %>
      <div class="state-container">
        <%= image_tag("NC.png") %>
      </div>
      <hr>
      <h2><%= link_to l.location, location_path(l.id) %></h2>
    <% end %>
  </div>
</div>

<!-- <%#= @events %> -->
</body>
