
  <section class="main-container">
  <div class="container">

    <div class="underlined-headline">
      <h2>We're located in 31 cities!</h2>
      <hr>
       <p class="subtitle hide">Don't see your hometown? <a href="">Start a new chapter!</a></p>
    </div>

    <section class="state-index hide">
      <% @states.each do |s| %>
        <div class="state-container">
          <div class="state"><%= image_tag(image_route(s[0])) %></div>
          <hr>
          <h2><%= s[0] %></h2>
          <% s[1].each do |l| %>
            <h3 class="large"><%= link_to l, location_path(l.parameterize) %></h3>
          <% end %>
        </div>
    <% end %>
    </section>
  </div>
  </section>

  <section id="state-list">
    <div class="accordion">
      <% @states.each do |s| %>
        <div class="hide-chapters">
          <h2><%= s[0] %></h2>
          <ul>
            <% s[1].each do |l| %>

              <li><%= link_to l, location_path(l.parameterize) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </section>
