

  <div id="container">
    <aside class="chapter-aside">
      <div class="state-container">
        <%= image_tag("NC.png") %>
        <!-- <%= image_tag("NC.png") %> -->
      </div>
      <hr><hr>
      <h1><%= @location.location %></h1>
      <ul class="media-links">
        <%#= link_to image_tag "fb.png", @location.fb %>
        <%#= link_to image_tag "tw.png", @location.tw %>
        <%#= link_to image_tag "in.png", @location.in %>
        <%#= link_to image_tag "gh.png", @location.gh %>
        <%#= mail_to image_tag "email.png", @location.email %>
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      </ul>
      <p>don't be shy</p>
        <!-- <button class="button"><%= link_to "{ Join Us }", @location.meetup %></button> -->
        <button class="button">{ Join Us }</button>
        <h2>Sponsors</h2>

  <% @sponsors.each do |sponsor| %>
    <!-- <br><%= sponsor.name %>
    <br><%= sponsor.url %>
    <br><%= sponsor.image.thumb.url %>
    <br><%= sponsor.location.id %>
    <br> -->
    <% if sponsor.image? %>
      <%= link_to image_tag(sponsor.image.thumb.url), sponsor.url %>
    <% end %>
  <% end %>

    </aside>

    <section id="content-section">

      <div id="headline">
        <%= image_tag 'pencil.png' %>
        <h2>Upcoming Classes</h2>
      </div>

      <div class="classes">
        <h2>Intro To Javascript and jQuery</h2>
        <p class="class-info">[ August 7, 2014, 6:30pm to 9:15pm, Cary, NC ]</p>
        <p>Object-oriented programming is an approach to programming that helps you conceptualize and organize your code in a way that will make it more structured and more easily maintainable. Remember in high school geometry when you learned that all squares are rectangles, but not all rectangles are squares? As a programmer, you can think about that relationship in an object-oriented way: the squares and rectangles are your "objects", and squares "inherit" some of their properties from...<a href="#" class="read-more"> read more</a></p>
        <h2 class="rsvp">RSVP</h2>
        <!-- some code to make the meetup API data show up! -->
      </div>

      <div class="classes">
        <h2>Intro To HTML and CSS</h2>
        <p class="class-info">[ August 20, 2014, 6:30pm to 9:15pm, Durham, NC ]</p>
        <p>Object-oriented programming is an approach to programming that helps you conceptualize and organize your code in a way that will make it more structured and more easily maintainable. Remember in high school geometry when you learned that all squares are rectangles, but not all rectangles are squares? As a programmer, you can think about that relationship in an object-oriented way: the squares and rectangles are your...<a href="#" class="read-more"> read more</a></p>
        <h2 class="rsvp">RSVP</h2>
        <!-- some code to make the meetup API data show up! -->
      </div>

      <div id="headline">
        <%= image_tag 'flourish.png' %>
        <h2>Chapter Leaders</h2>
      </div>

      <div class="profiles">
        <% @bios.each do |bio| %>
          <div class="single-profile">
            <div class="profile-img">
              <% if bio.image? %>
                <%= image_tag bio.image.profile.url %>
              <% end %>
              <!-- <ul class="profile-links">
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul> -->
            </div>
            <div class="profile-content">
              <h2><%= bio.name %></h2>
              <p><%= bio.info %></p>
              <ul class="profile-links">
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>

      <div id="headline">
        <%= image_tag 'apple.png' %>
        <h2>The Instructors</h2>
      </div>

    </section>

  </div>
