




    <aside class="city">
<!--       <%= image_tag("state.png") %>
 -->      <h2><%= @location.location %></h2>
        <ul>
          <%#= link_to image_tag "fb.png", @location.fb %>
          <%#= link_to image_tag "tw.png", @location.tw %>
          <%#= link_to image_tag "in.png", @location.in %>
          <%#= link_to image_tag "gh.png", @location.gh %>
          <%#= mail_to image_tag "email.png", @location.email %>
        </ul>

        <button class="join"><%= link_to @location.meetup %></button>

    </aside>

    <section ="main">
      <div class="classes">
        <h2>Upcoming Classes</h2>
<!--         some code to make the meetup API data show up!
 -->      
      </div>
  
      
      <h2>Chapter Leaders</h2>
        <div class="leaders">
          <% @bios.each do |bio| %>
            <ul>
              <li><%= bio.title %></li>
              <li><%= bio.name %></li>
              <li><%= bio.info %></li>
              <li><%= bio.admin_user.id %></li>
              <li>
            </ul>
            <% if bio.image? %>
              <%= image_tag bio.image.thumb.url %>
            <% end %>
      </div>
      
      <h2>The Instructors</h2>
        <div class="instructors">
          <% @bios.each do |bio| %>
            <ul>
              <li><%= bio.title %></li>
              <li><%= bio.name %></li>
              <li><%= bio.info %></li>
              <li><%= bio.admin_user.id %></li>
              <li>
            </ul>
            <% if bio.image? %>
              <%= image_tag bio.image.thumb.url %>
          <% end %>
      </div>

    </section>
    
    
    
<% end %>