  <div class="main-container">
    <div class="container">
      <aside class="chapter-aside">
        <div class="state-container">
          <%= image_tag("NC.png") %>
          <!-- <%= image_tag("NC.png") %> -->
        </div>
        <hr>
        <h1><%= @location.location %></h1>
        <ul class="media-links media-links-rounded">
          <%#= link_to image_tag "fb.png", @location.fb %>
          <%#= link_to image_tag "tw.png", @location.tw %>
          <%#= link_to image_tag "in.png", @location.in %>
          <%#= link_to image_tag "gh.png", @location.gh %>
          <%#= mail_to image_tag "email.png", @location.email %>
          <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
        </ul>
        <p class="subtitle">don't be shy</p>
          <!-- <button class="button"><%= link_to "{ Join Us }", @location.meetup %></button> -->
          <a href="" class="button">{ Join Us }</a>
        <h2>Sponsors</h2>
            <% @sponsors.each do |sponsor| %>
            <!-- <br><%= sponsor.name %>
            <br><%= sponsor.url %>
            <br><%= sponsor.image.thumb.url %>
            <br><%= sponsor.location.id %>
            <br> -->
            <% if sponsor.image? %>
            <%= link_to image_tag(sponsor.image.thumb.url), sponsor.url %>
            <% end %>
      <% end %>

      </aside>

      <section id="content-section">

        <div id="headline">
          <%= image_tag 'pencil.png' %>
          <h2>Upcoming Classes</h2>
        </div>

        <div class="classes"></div>

        <div id="headline">
          <%= image_tag 'flourish.png' %>
          <h2>Chapter Leaders</h2>
        </div>

        <div class="profiles">
          <% @leaders.each do |bio| %>
            <div class="single-profile">
              <div class="profile-img">
                <% if bio.image? %>
                  <%= image_tag bio.image.profile.url %>
                <% end %>
                <!-- <ul class="profile-links">
                  <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul> -->
              </div>
              <div class="profile-content">
                <h2><%= bio.name %></h2>
                <p><%= bio.info.html_safe %></p>
                <ul class="media-links">
                  <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>

        <div id="headline">
          <%= image_tag 'apple.png' %>
          <h2>The Instructors</h2>
        </div>


      </section>
    </div>
  </div> 


<script type = "text/template" id= "meetup">
         
        <h2><a href=" <%%= event_url %>"><%%= name %></a></h2>
        <p class="subtitle">[ <%%= time %>, <%%= venue.address_1 %>, <%%= venue.city %> ]</p>
        <p><%%= description %></p>
        <a href="#" class="button">RSVP</a>
      </script> 
         
<script type = "text/javascript"> 
  var meetup_url = 'http://localhost:3000/meetups/26.json'
          $.getJSON(meetup_url).done(function (classesData){
            console.log("here are all the classes", classesData);
            var oneClass = '';
            var classes = $('#meetup').html();
            _.each(classesData, function (one) {
              console.log("Here is one class", one)
              oneClass += _.template(classes, one);
            });
            $(".classes").html(oneClass);
            });
</script>
        
   
       
          
    


