<!DOCTYPE html>
<html>
<head>
  <title>Girl Develop It</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device,initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'raphael-min'  %>
  <%= javascript_include_tag 'jquery.mapael'  %>
  <%= javascript_include_tag 'usa_states' %>
  <%= javascript_include_tag 'chapter_map'  %>
  <%= javascript_include_tag 'main' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>

</head>
<body>


<!-- 	load header partial -->
	<%= render "shared/header" %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>


<!-- load footer partial -->
	<%= render "shared/footer" %>

</body>
</html>
