<!DOCTYPE html>
<html>
<head>
  <title>Girl Develop It</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Girl Develop It</h1>
	<header>
		<h2>Don't be Shy</h2>
		<h2>Develop It
		<img class="banner" src="#">
		<img class="logo" src="#">
		<nav class="top">
			<a href="#/home">home</a>
			<a href="#/about">about</a>
			<a href="#/chapters">chapters</a>
			<a href="#/resources">resources</a>
			<a href="#/donate">donate</a>
		</nav>
	</header>
	
	<section>
		<h2>Who are we?</h2>
			<p>mission statement Lorem ipsum dolor sit amet, sea id debet veritus, pri dicant dictas honestatis id. Per ei soluta essent, ea sea molestiae comprehensam. Sed cu regione voluptua, eu eum ignota invenire molestiae. </p>
	</section>

	<section>
		<h3>We are now in <% %> cities!</h3>
			<h4>Don't see your city? Start a new chapter!</h4>
		<img class="map" src="#">
	</section>

	<section>
		<img class="stats">
		<img class="stats">
		<img class="stats">
	</section>

	<footer>
		<nav class="bottom">
			<a href="#/about">about</a>
			<a href="#/partners">partners</a>
			<a href="http://girldevelopit.tumblr.com/">blog</a>
		</nav>
	</footer>



  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
