<!DOCTYPE html>
<html>
<head>
  <title>Girl Develop It</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'raphael-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.mapael', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'usa_states', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'chapter_map', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- 	load header partial -->
	<%= render "shared/header" %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>


<!-- load footer partial -->
	<%= render "shared/footer" %>

</body>
</html>
